<!DOCTYPE HTML>
<html>
<head>
    {%include "../tpl/base/css.html"%}
    <title>用户列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 用户管理 <span
        class="c-gray en">&gt;</span> 用户列表 <a class="btn btn-success radius r mr-20"
                                              style="line-height:1.6em;margin-top:3px"
                                              href="javascript:location.replace(location.href);" title="刷新"><i
        class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20">
    <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l">
        <a class="btn btn-primary radius" data-title="新增用户" data-action="user-add" href="javascript:;">
            <i class="Hui-iconfont">&#xe600;</i> 新增用户
        </a>
    </span> <span class="r">共有数据：<strong>{{count}}</strong> 条</span></div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
            <tr class="text-c">
                <th width="40">ID</th>
                <th width="80">用户名</th>
                <th width="40">真实姓名</th>
                <th width="40">角色</th>
                <th width="100">创建时间</th>
                <th width="100">上次登录</th>
                <th width="20">状态</th>
                <th width="120">操作</th>
            </tr>
            </thead>
            <tbody>
            {%for row in rows %}
            <tr class="text-c">
                <td data-id="{{row.id}}">{{row.id}}</td>
                <td data-username="{{row.username}}">{{row.username}}</td>
                <td data-realname="{{row.realname}}">{{row.realname}}</td>
                <td data-group_id="{{row.group_id}}">{{row.group_name}}</td>
                <td>{{row.create_time}}</td>
                <td>{{row.last_login_time}}</td>
                <td class="td-status">
                    {%if row.state == 1%}
                    <span class="label label-success radius" data-state="{{row.state}}">已启用</span>
                    {%else%}
                    <span class="label radius" data-state="{{row.state}}">已停用</span>
                    {%endif%}
                </td>
                <td class="td-manage" data-id="{{row.id}}">
                    {% if row.state == 1 %}
                    <a class="btn btn-default" data-action="change-state">停用</a>
                    {%else%}
                    <a class="btn btn-success" data-action="change-state">启用</a>
                    {%endif%}
                    <a class="btn btn-primary" data-action="edit-user">编辑</a>
                    <a class="btn btn-warning" data-action="reset-password">重置密码</a>
                </td>
            </tr>
            {%endfor%}
            </tbody>
        </table>
    </div>
</div>

<!--新增用户信息表单-->
<form action="/user" method="post" class="form form-horizontal" id="form-user-add" style="display: none;">
    <div class="row cl">
        <label class="form-label col-3"><span class="c-red">*</span>用户名：</label>

        <div class="formControls col-5">
            <input type="text" class="input-text" value="" placeholder="" id="username" name="username" datatype="*3-16"
                   nullmsg="用户名不能为空">
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row cl">
        <label class="form-label col-3"><span class="c-red">*</span>密码：</label>

        <div class="formControls col-5">
            <input type="password" class="input-text" value="" placeholder="" id="password" name="password"
                   recheck="password2"
                   datatype="*6-16" errormsg="密码为6-16位字符" nullmsg="密码不能为空">
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row cl">
        <label class="form-label col-3"><span class="c-red">*</span>确认密码：</label>

        <div class="formControls col-5">
            <input type="password" class="input-text" value="" placeholder="" id="password2" name="password2"
                   datatype="*6-16" errormsg="密码为6-16位字符" nullmsg="密码不能为空">
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row cl">
        <label class="form-label col-3"><span class="c-red">*</span>真实姓名：</label>

        <div class="formControls col-5">
            <input type="text" class="input-text" value="" placeholder="请填写真实姓名" id="realname" name="realname"
                   datatype="s" nullmsg="姓名不能为空">
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row cl">
        <label class="form-label col-3"><span class="c-red">*</span>角色：</label>

        <div class="formControls col-5"> <span class="select-box">
            <select class="select" size="1" name="group_id" datatype="*" nullmsg="请选择角色！">
                <option value="" selected>请选择角色</option>
                <option value="1">管理员</option>
                <option value="2">普通用户</option>
            </select>
        </span>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row cl">
        <div class="col-9 col-offset-3">
            <a class="layui-layer-close btn btn-default radius" style="position: relative">
                &nbsp;&nbsp;取消&nbsp;&nbsp;</a>
            <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
        </div>
    </div>
</form>

<!--编辑用户信息表单-->
<div class="form form-horizontal" id="form-user-edit" style="display: none;">
    <input type="hidden" name="userid">

    <div class="row cl">
        <label class="form-label col-3"><span class="c-red">*</span>用户名：</label>

        <div class="formControls col-5">
            <input type="text" class="input-text" value="" placeholder="" name="username" datatype="*3-16"
                   nullmsg="用户名不能为空">
        </div>
        <div class="col-4"></div>
    </div>

    <div class="row cl">
        <label class="form-label col-3"><span class="c-red">*</span>真实姓名：</label>

        <div class="formControls col-5">
            <input type="text" class="input-text" value="" placeholder="请填写真实姓名" name="realname"
                   datatype="s" nullmsg="姓名不能为空">
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row cl">
        <label class="form-label col-3"><span class="c-red">*</span>角色：</label>

        <div class="formControls col-5"> <span class="select-box">
            <select class="select" size="1" name="group_id" datatype="*" nullmsg="请选择角色！">
                <option value="" selected>请选择角色</option>
                <option value="1">管理员</option>
                <option value="2">普通用户</option>
            </select>
        </span>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row cl">
        <div class="col-9 col-offset-3">
            <a class="layui-layer-close btn btn-default radius" style="position: relative">
                &nbsp;&nbsp;取消&nbsp;&nbsp;
            </a>
            <a class="btn btn-primary radius" data-action="save-edit">&nbsp;&nbsp;提交&nbsp;&nbsp;</a>
        </div>
    </div>
</div>
{%include "../tpl/base/js.html"%}
<script type="text/javascript" src="/lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/lib/Validform/5.3.2/Validform.min.js"></script>
<script type="text/javascript">
    (function ($) {
        $("#form-user-add").Validform({
            tiptype: 2,
            callback: function (form) {
                form[0].submit();
            }
        });

        $('.table-sort').dataTable({
            "aaSorting": [[1, "desc"]],//默认第几个排序
            "bStateSave": true,//状态保存
            "aoColumnDefs": [
                //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
                {"orderable": false, "aTargets": [0, 7]}// 制定列不参与排序
            ]
        });

        //新增用户
        $('[data-action=user-add]').click(function () {
            var index = layer.open({
                type: 1,
                title: '新增用户',
                content: $('#form-user-add')
            });
            layer.full(index);
        });
        //状态更改
        $('[data-action=change-state]').click(function () {
            var $this = $(this), $tr = $this.closest('tr'), $state = $tr.find('[data-state]');
            var state = parseInt($state.attr('data-state'));
            state = state == 1 ? 0 : 1;
            var id = parseInt($tr.find('[data-id]').attr('data-id'));
            var url = '/user/' + id;
            console.log('state: ', state, ' id: ', id);
            $.ajax(url, {
                method: "PUT",
                data: {state: state}
            }).done(function (data) {
                if (data.code === 1) {
                    if ($this.hasClass('btn-success')) {
                        $this.removeClass('btn-success').addClass('btn-default').text('停用');
                        $state.addClass('label-success').attr("data-state", state).text('已启用');
                    } else {
                        $this.removeClass('btn-default').addClass('btn-success').text('启用');
                        $state.removeClass('label-success').attr("data-state", state).text('已停用');
                    }
                }
            });
        });

        //编辑用户：2个动作联系在一起的，有共享变量，所以放在一个闭包里面
        (function () {
            var $tr, index;//共享了当前选中的$tr和当前layer弹窗index
            $('[data-action=edit-user]').click(function () {
                var $this = $(this);
                $tr = $this.closest('tr');
                var $edit_form = $('#form-user-edit');
                var userid = $tr.find('[data-id]').attr('data-id');
                var username = $tr.find('[data-username]').attr('data-username');
                var realname = $tr.find('[data-realname]').attr('data-realname');
                var group_id = $tr.find('[data-group_id]').attr('data-group_id');
                console.log(username, realname, group_id);
                $edit_form.find('[name=userid]').val(userid);
                $edit_form.find('[name=username]').val(username);
                $edit_form.find('[name=realname]').val(realname);
                $edit_form.find('[name=group_id]').val(group_id);
                index = layer.open({
                    type: 1,
                    title: '编辑用户信息',
                    content: $edit_form
                });
                layer.full(index);
            });

            $('[data-action=save-edit]').click(function () {
                var $edit_form = $('#form-user-edit');
                var userid = $edit_form.find('[name=userid]').val();
                var username = $edit_form.find('[name=username]').val();
                var realname = $edit_form.find('[name=realname]').val();
                var group_id = $edit_form.find('[name=group_id]').val();
                var group_name = $edit_form.find('[name=group_id]').find('option:selected').text();
                console.log('group_name', group_name);
                var url = '/user/' + userid;
                $.ajax(url, {
                    method: 'PUT',
                    data: {
                        username: username,
                        realname: realname,
                        group_id: group_id
                    }
                }).done(function (data) {
                    if (data.code === 1) {
                        $tr.find('[data-username]').attr('data-username', username).text(username);
                        $tr.find('[data-realname]').attr('data-realname', realname).text(realname);
                        $tr.find('[data-group_id]').attr('data-group_id', group_id).text(group_name);
                    } else {

                    }
                });
                layer.close(index);
            });
        })();

        //密码重置
        $('[data-action=reset-password]').click(function () {
            var $this = $(this), $tr = $this.closest('tr');
            var userid = $tr.find('[data-id]').attr('data-id');
            var url = '/user/' + userid;
            var password = getRandomIntInclusive(100000, 999999)
            $.ajax(url, {
                method: 'PUT',
                data: {
                    password: password
                }
            }).done(function (data) {
                if (data.code === 1) {
                    layer.open({title: "密码重置", content: "密码重置成功！新密码为：" + password, icon: 6});
                } else {
                    layer.open({title: "密码重置", content: "密码重置失败了！再试一次吧", icon: 5});
                }
            });
        });

        function getRandomIntInclusive(min, max) {
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }
    })(jQuery);
</script>
</body>
</html>