﻿<!DOCTYPE HTML>
<html>
<head>
    {%include "../tpl/base/meta.html"%}
    {%include "../tpl/base/ie.html"%}

    <link href="/hui/css/H-ui.min.css" rel="stylesheet" type="text/css"/>
    <link href="/hui/Hui-iconfont/1.0.6/iconfont.css" rel="stylesheet" type="text/css"/>
    <link href="/hui/css/H-ui.login.css" rel="stylesheet" type="text/css"/>
    <title>登录－京东搜索运营平台</title>
</head>
<body>
<input type="hidden" id="TenantId" name="TenantId" value=""/>

<div class="header">京东搜索运营平台</div>
<div class="loginWraper">
    <div id="loginform" class="loginBox">
        <div class="form form-horizontal" id="form-user-login">
            <div class="row cl">
                <label class="form-label col-3"><i class="Hui-iconfont">&#xe60d;</i></label>

                <div class="formControls col-8">
                    <input name="username" type="text" placeholder="账户" class="input-text size-L" data-type="*"
                           nullmsg="用户名不能为空">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-3"><i class="Hui-iconfont">&#xe60e;</i></label>

                <div class="formControls col-8">
                    <input name="password" type="password" placeholder="密码" class="input-text size-L" data-type="*"
                           nullmsg="密码不能为空">
                </div>
            </div>
            <div class="row cl">
                <div class="formControls col-8 col-offset-3">
                    <input class="input-text size-L" type="text" placeholder="验证码"
                           onblur="if(this.value==''){this.value='验证码:'}"
                           onclick="if(this.value=='验证码:'){this.value='';}" value="验证码:" style="width:150px;">
                    <!--<img src="images/VerifyCode.aspx.png"> <a id="kanbuq" href="javascript:;">看不清，换一张</a>-->
                </div>
            </div>
            <div class="row">
                <div class="formControls col-8 col-offset-3">
                    <label for="online">
                        <input type="checkbox" name="online" id="online" value="">
                        使我保持登录状态</label>
                </div>
            </div>
            <div class="row">
                <div class="formControls col-8 col-offset-3">
                    <a href="javascript:;" class="btn btn-success" data-action="user-login">&nbsp;登&nbsp;&nbsp;&nbsp;&nbsp;录&nbsp;</a>
                    <a href="javascript:;" class="btn btn-default">&nbsp;取&nbsp;&nbsp;&nbsp;&nbsp;消&nbsp;</a>
                    <span style="height:38px;color:red;margin-left: 10px;" id="login-error"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">Copyright 你的公司名称 by 京东搜索与大数据平台－深圳研发中心</div>
<script type="text/javascript" src="/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/hui/js/H-ui.js"></script>
<script type="text/javascript" src="/lib/Validform/5.3.2/Validform.min.js"></script>

<script type="text/javascript">
    (function ($) {
        $("#form-user-login").Validform({
            tiptype: 2,
            callback: function (form) {
                form[0].submit();
            }
        });

        $('[data-action=user-login]').click(function () {
            var username = $('[name=username]').val();
            var password = $('[name=password]').val();
            var url = '/user/login';
            $.ajax(url, {
                method: 'POST',
                data: {
                    username: username,
                    password: password
                }
            }).done(function (data) {
                if (data.code === 1) {
                    $('#login-error').css('color', 'green').text('登录成功，页面正在跳转');
                    location = get_query('originalUrl') || '/';
                } else {
                    $('#login-error').text('用户名或密码错误');
                }
            });
        });

        function get_query(key) {
            var queryObj = [], tempArr,
                    queryArr = location.search.replace('?', '').split('&');
            for (var i = 0; i < queryArr.length; i++) {
                tempArr = queryArr[i].split('=');
                queryObj[tempArr[0]] = tempArr[1];
            }
            return queryObj[key];
        }
    })(jQuery);
</script>
</body>
</html>