{%include "./meta.html"%}
{%include "./ie.html"%}
<link href="/hui/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="/hui/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="/hui/Hui-iconfont/1.0.6/iconfont.css" rel="stylesheet" type="text/css" />
<link href="/hui/skin/blue/skin.css" rel="stylesheet" type="text/css" id="skin" />