<script type="text/javascript" src="/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/hui/js/H-ui.js"></script>
<script type="text/javascript" src="/hui/js/H-ui.admin.js"></script>