<!DOCTYPE HTML>
<html>
<head>
    {%include "../tpl/base/css.html"%}
    <title>用户列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 用户管理 <span
        class="c-gray en">&gt;</span> 用户列表 <a class="btn btn-success radius r mr-20"
                                              style="line-height:1.6em;margin-top:3px"
                                              href="javascript:location.replace(location.href);" title="刷新"><i
        class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20">
    <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l">
        <a class="btn btn-primary radius" data-title="新增用户" onclick="user_add()" href="javascript:;">
            <i class="Hui-iconfont">&#xe600;</i> 新增用户
        </a>
    </span> <span class="r">共有数据：<strong>{{count}}</strong> 条</span></div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
            <tr class="text-c">
                <th width="40">ID</th>
                <th width="80">用户名</th>
                <th width="40">真实姓名</th>
                <th width="40">角色</th>
                <th width="100">创建时间</th>
                <th width="100">上次登录</th>
                <th width="20">状态</th>
                <th width="120">操作</th>
            </tr>
            </thead>
            <tbody>
            {%for row in rows %}
            <tr class="text-c">
                <td data-id="{{row.id}}">{{row.id}}</td>
                <td data-username="{{row.username}}">{{row.username}}</td>
                <td data-realname="{{row.realname}}">{{row.realname}}</td>
                <td data-group_id="{{row.group_id}}">{{row.group_name}}</td>
                <td>{{row.create_time}}</td>
                <td>{{row.last_login_time}}</td>
                <td class="td-status">
                    {%if row.state == 1%}
                    <span class="label label-success radius row-state" data-state="1">已启用</span>
                    {%else%}
                    <span class="label radius row-state" data-state="0">已停用</span>
                    {%endif%}
                </td>
                <td class="td-manage" data-id="{{row.id}}">
                    {% if row.state == 1 %}
                    <a class="btn btn-default" data-action="change-state">停用</a>
                    {%else%}
                    <a class="btn btn-success" data-action="change-state">启用</a>
                    {%endif%}
                    <a class="btn btn-primary" data-action="edit-user">编辑</a>
                    <a class="btn btn-warning" data-action="reset-password">重置密码</a>
                </td>
            </tr>
            {%endfor%}
            </tbody>
        </table>
    </div>
</div>

<form action="/admin/user_add" method="post" class="form form-horizontal" id="form-user-add" style="display: none;">
    <div class="row cl">
        <label class="form-label col-3"><span class="c-red">*</span>账户：</label>

        <div class="formControls col-5">
            <input type="text" class="input-text" value="" placeholder="" id="username" name="username" datatype="*3-16"
                   nullmsg="账户不能为空">
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row cl">
        <label class="form-label col-3"><span class="c-red">*</span>密码：</label>

        <div class="formControls col-5">
            <input type="password" class="input-text" value="" placeholder="" id="password" name="password"
                   recheck="password2"
                   datatype="*6-16" errormsg="密码为6-16位字符" nullmsg="密码不能为空">
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row cl">
        <label class="form-label col-3"><span class="c-red">*</span>确认密码：</label>

        <div class="formControls col-5">
            <input type="password" class="input-text" value="" placeholder="" id="password2" name="password2"
                   datatype="*6-16" errormsg="密码为6-16位字符" nullmsg="密码不能为空">
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row cl">
        <label class="form-label col-3"><span class="c-red">*</span>真实姓名：</label>

        <div class="formControls col-5">
            <input type="text" class="input-text" value="" placeholder="请填写真实姓名" id="realname" name="realname"
                   datatype="s" nullmsg="姓名不能为空">
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row cl">
        <label class="form-label col-3"><span class="c-red">*</span>角色：</label>

        <div class="formControls col-5"> <span class="select-box">
            <select class="select" size="1" name="group_id" datatype="*" nullmsg="请选择角色！">
                <option value="" selected>请选择角色</option>
                <option value="1">管理员</option>
                <option value="2">普通用户</option>
            </select>
        </span>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row cl">
        <div class="col-9 col-offset-3">
            <a class="layui-layer-close btn btn-default radius" style="position: relative">
                &nbsp;&nbsp;取消&nbsp;&nbsp;</a>
            <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
        </div>
    </div>
</form>
{%include "../tpl/base/js.html"%}
<script type="text/javascript" src="/lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/lib/Validform/5.3.2/Validform.min.js"></script>
<script type="text/javascript">
    function user_add() {
        var index = layer.open({
            type: 1,
            title: '新增用户',
            content: $('#form-user-add')
        });
        layer.full(index);
    }
    $("#form-user-add").Validform({
        tiptype: 2,
        callback: function (form) {
            form[0].submit();
        }
    });

    $('.table-sort').dataTable({
        "aaSorting": [[1, "desc"]],//默认第几个排序
        "bStateSave": true,//状态保存
        "aoColumnDefs": [
            //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
            {"orderable": false, "aTargets": [0, 7]}// 制定列不参与排序
        ]
    });

    $('[data-action="change-state"]').click(function () {
        var $this = $(this), $tr = $this.closest('tr');
        var state = parseInt($tr.find('[data-state]').attr('data-state'));
        var id = parseInt($tr.find('[data-id]').attr('data-id'));
        var url = '/admin/user/'+id + '/state';
        console.log('state: ', state, ' id: ', id);
        $.ajax(url, {
            method: "PUT",
            data: {state: state}
        }).done(function (data) {
            console.log(data);
        });
    });

    /*资讯-编辑*/
    function user_edit() {
        var index = layer.open({
            type: 1,
            title: "编辑用户信息",
            content: $("#form-user-edit")
        });
        layer.full(index);
    }
    /*资讯-删除*/
    function user_del(obj, id) {
        layer.confirm('确认要删除吗？', function (index) {
            $(obj).parents("tr").remove();
            layer.msg('已删除!', 1);
        });
    }
    /*资讯-审核*/
    function user_shenhe(obj, id) {
        layer.confirm('审核文章？', {
                    btn: ['通过', '不通过'],
                    shade: false
                },
                function () {
                    $(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="user_start(this,id)" href="javascript:;" title="申请上线">申请上线</a>');
                    $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
                    $(obj).remove();
                    layer.msg('已发布', {icon: 6, time: 1000});
                },
                function () {
                    $(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="user_shenqing(this,id)" href="javascript:;" title="申请上线">申请上线</a>');
                    $(obj).parents("tr").find(".td-status").html('<span class="label label-danger radius">未通过</span>');
                    $(obj).remove();
                    layer.msg('未通过', {icon: 5, time: 1000});
                });
    }
    /*资讯-下架*/
    function user_stop(obj, id) {
        layer.confirm('确认要下架吗？', function (index) {
            $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="user_start(this,id)" href="javascript:;" title="发布"><i class="Hui-iconfont">&#xe603;</i></a>');
            $(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已下架</span>');
            $(obj).remove();
            layer.msg('已下架!', {icon: 5, time: 1000});
        });
    }

    /*资讯-发布*/
    function user_start(obj, id) {
        layer.confirm('确认要发布吗？', function (index) {
            $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="user_stop(this,id)" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a>');
            $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
            $(obj).remove();
            layer.msg('已发布!', {icon: 6, time: 1000});
        });
    }
    /*资讯-申请上线*/
    function user_shenqing(obj, id) {
        $(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">待审核</span>');
        $(obj).parents("tr").find(".td-manage").html("");
        layer.msg('已提交申请，耐心等待审核!', {icon: 1, time: 2000});
    }

</script>
</body>
</html>